* {
	font-family: "Arial Narrow", Arial, Verdana, Helvetica, sans-serif;
}

div#main-div {
	border: 2px #1c384d solid;
	background: #E3D8A8;
}

div#info-bar {
	/*margin:0 0 5px;
	/*margin: 5px 0;*/
	/*padding: 5px 0;  para volver al estilo descomentar junto con content-info-bar
	text-align: right;
	background-color: #FFF;*/
	
	background-color:#FFFFFF;
	margin:0 0 5px;
	padding:0 0 5px;
	text-align:right;
}

div#info-bar a {
	color: #444444;
}

div#info-bar a img{
	margin: 0 0 -5px 0;
}

div#info-bar a:hover {
	color: red;
}

div#footer {
	margin: 5px 0 0;
	height: 20px;
	text-align: center;
	background-color: #FFF;
}

div#footer img {
	margin:0 0 -2px;
}

div#menu-bar {
	background: #FFF;
}

div#modulo {
	background: #FFF;
}

div#modulo-user {
	background: #FFF;
}

div#modulo h1 {
	text-align:right;
	margin: 0 0 10px 0;
	padding: 5px 10px 10px 0;
	height: 30px;
	border: 0;
}

img.header {
	border: 0;
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

a{
	text-decoration: none;
	color: #444444;
	font-weight: bold;
}

a.boton_con_imagen {
	text-decoration: none;
	color: black;
	font-weight: normal;
}

a:hover {
	color: red;
	text-decoration: none;
}

div#loading {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
	z-index: 10;
	border: 2px solid #1c384d;
}

div.pop-up {
	/*background:#FFFFFF none repeat scroll 0 0;
	border:2px solid #1C384D;
	height:auto;
	left:50%;
	margin-left:-400px;
	margin-top:-150px;
	max-height:600px;
	min-height:150px;
	overflow:scroll;
	position:absolute;
	top:50%;
	width:800px;
	z-index:9;*/
	
	background:#FFFFFF none repeat scroll 0 0;
	border:3px double #1C384D;
	height:auto;
	left:50%;
	margin-left:-375px;
	margin-top:-150px;
	max-height:600px;
	min-height:150px;
	overflow:scroll;
	position:absolute;
	top:50%;
	width:751px;
	z-index:9;
	padding-top:20px;
}

div.pop-up2 {
	width: 600px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -300px;
	z-index: 9;
	background: #fff;
	border: 3px double #1c384d;
}

div.pop-up div,
div.pop-up div {
	padding-top: 20px;
}

div.content-info-bar {
	/*margin: 0 5px;
	background-color: #eee;
	color: #444444;
	border: 2px #aaa solid;
	padding: 5px 10px;
	font-weight: bold;*/
	background-color:#EEEEEE;
	border-color:-moz-use-text-color #1C384D #1C384D;
	border-style:none solid solid;
	border-width:0 2px 2px;
	color:#444444;
	font-weight:bold;
	margin:0 5px;
	padding:5px 10px;
}

div.content-info-bar2 {
	color:white;
	font-weight:bold;
	padding:40px 10px;
}

div.content-info-bar2 a{
	color:white;
	/*font-weight:bold;
	/*padding:40px 10px;*/
}

div.content-info-bar2 a:hover{
	color:red;
	/*font-weight:bold;
	/*padding:40px 10px;*/
}

table.notificaciones{

}

table.notificaciones tr{

}

table.notificaciones td{
	vertical-align: top;
}

.aviso{
	background:#EAB5B5 url(../images/form/botones/messagebox_warning.png) no-repeat scroll 1% 50%;
	border:1px solid #901919;
	color:#901919;
	text-align: left !important;
	font-weight:bold;
	padding:2px 5px 2px 25px;
}

.tdcentrado{
	text-align: center;
}

.informacion{
	background:#75B973 url(../images/info.png) no-repeat scroll 1% 50%;
	border:1px solid #195519 !important;
	color:#195519;
	font-weight:bold;
	margin:10px 10px -11px !important;
}

div#info .informacion{
margin:10px !important;
}

.text-right{
	text-align:right;
}
#no-causas{
	background:#EEEEEE none repeat scroll 0 0;
	border:1px solid #1C384D;
	margin:10px !important;
	padding:10px;
}

#no-causas span,
#no-causas input{
	display:block;
	margin:10px 0 !important;
}

