body {
	margin: 0;
	padding: 0;
	
}

div#info-bar {
	margin: 0 auto;
}

div#main-div {
	width: 1000px;
	margin: 0 auto;
	padding: 5px;
}

div#header {
	height: 70px;
	margin: 0 auto;
	
	/*background:transparent url(/images/header.png) repeat scroll 0 0;
	height:70px;
	margin:0 auto 5px;*/
}

div#contenedor {
	margin: 0 auto;
	/*height: 630px;*/
	/*background: #FFFFFF;*/
}

div#menu-bar {
	/*border-right: 2px dotted #AAAAAA;*/
	width: 250px;
	/*height:650px;*/
	float: left;
	margin: 0 auto 5px;
	padding: 0 0 5px;
}

div#modulo {
	/*border:2px solid #AAAAAA;*/
	float:right;
	/*margin:5px;*/
	margin:0 0 5px;
	padding:5px;
	width:734px;
}

div#modulo1 {
	background: #FFF;
	margin:0 auto;
	padding:5px 132px;
	width:734px;
}

div#modulo-user {
	padding: 0 10px 10px;
}

div#footer {
	clear: both;
	color:#444444;
	font-weight:bold;
	padding:5px;
}