ul.menu-modulo {
	border-left:1px solid #1C384D;
	clear:both;
	float:right;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:10px 0;
	padding:0 10px 0 0;
}

ul.menu-modulo li {
	background:#F4F4F4 none repeat scroll 0 0;
	border-bottom:1px solid #1C384D;
	border-top:1px solid #1C384D;
	display:inline;
	float:left;;
}

ul.menu-modulo li a:link, ul.menu-modulo li a:visited {
  	padding: .2em .5em .2em .5em;
  	display: block;
  	/*text-decoration: none;*/
  	/*color: #333;*/
  	border-right:1px solid #1C384D;
}
