.toggle {
	border:5px solid #1C384D;
	color:#FFFFFF;
	margin:5px 5px 0;
	padding:0 35px;
}
.toggle a{
	color: #fff;
	text-decoration:none;
}

.toggle a:hover{
	color: #aaa;
}
.right {
	background: #1c384d url(../images/menu_principal/right.png) no-repeat left;
}

.down {
	background: #1c384d url(../images/menu_principal/down.png) no-repeat left;
}

.content {
	margin: 0 5px 0;
	background-color: #eee;
	color: #444444;
	/*border: 2px #aaa solid;*/
	border:2px solid #1C384D;
}

.content ul{
	margin: 0;
	border: 0;
	padding: 0;
}

.content li{
	margin: 2px;
	border-bottom: 1px solid #FFFFFF;
	list-style-type: none;
}

.content li a{
	display: block;
	background: transparent url(../images/menu_principal/blue_button.png) no-repeat scroll left center;
	padding-left: 20px;
}

.mod-administracion{
	background:#1C384D url(../images/administracion.png) no-repeat scroll left center;
}

.mod-juicios{
	background:#1C384D url(../images/martillo.png) no-repeat scroll left center;

}

.mod-usuarios{
	background:#1C384D url(../images/usuarios.png) no-repeat scroll left center;
}

.mod-informes{
	background:#1C384D url(../images/informes.png) no-repeat scroll left center;
}

.mod-mantencion{
	background:#1C384D url(../images/mantencion.png) no-repeat scroll left center;
}

